/* Reset */
body {
    font-family: Arial, sans-serif;
    background-color: #1b3a2c; /* Verde escuro acinzentado levemente amarelado */
    color: #fff;
    text-align: center;
  }
  
  /* Modais */
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .hidden {
    display: none;
  }
  
  .modal-content {
    background: rgba(34, 34, 34, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px cyan;
  }
  
  /* Botões */
  button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background: cyan;
    font-weight: bold;
    transition: 0.3s;
  }
  
  button:hover {
    background: lime;
  }
  
  /* Cartas */
  .cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
  }
  
  .card {
    width: 240px;
    height: 360px;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.5s;
    background-image: url('assets/images/fundo.webp');
  }
  .card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
  } 
  
  /* Botão de Registros */
  #reset-button {
    position: fixed;
    bottom: 15px;
    right: 15px;
    padding: 15px;
    background: #ffbf00;
    color: black;
    border-radius: 10px;
    font-size: 14px;
  }
  
  /* Área dos Registros */
  #records-container {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
  }
  
  /* Estilizando tabelas */
  .history-container table, .completed-games table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
  }
  
  .history-container th, .completed-games th, 
  .history-container td, .completed-games td {
    padding: 10px;
    border: 1px solid white;
  }
  
  .win {
    color: limegreen;
    font-weight: bold;
  }
  
  .loss {
    color: red;
    font-weight: bold;
  }
  
  .button-container {
    position: fixed;
    bottom: 15px;
    right: 15px;
    display: flex;
    gap: 10px; /* Espaço entre os botões */
  }
  
  .button-container button {
    padding: 15px;
    background: #ffbf00;
    color: black;
    border-radius: 10px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .button-container button:hover {
    background: #ff9f00;
  }
  